<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ2QlO7Jv_En09VppOPrFLIhI_gPHhtUO51g&usqp=CAU" style="height:600px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://wallpaperaccess.com/full/513457.jpg" class="d-block w-100" style="height:600px" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://images7.alphacoders.com/314/thumb-1920-314069.jpg" class="d-block w-100" style="height:600px" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>